{
  "regionTypes" : {
    
    // space and sky
    
    "asteroids" : {
      "blockSelector" : [ "asteroids" ],
      "fgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "asteroids" ]]
      ]
    },
    
    "barrenasteroids" : {
      "blockSelector" : [ "asteroids" ],
      "fgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "barrenasteroids" ]]
      ]
    },
    
    "atmosphere" : {
      "blockSelector" : [ "empty" ],
      "biome" : [
        [1, [ "atmosphere" ]]
      ]
    },
    
    "void" : {
      "blockSelector" : [ "empty" ],
      "biome" : [
        [1, [ "void" ]]
      ]
    },
    
    // surface and subsurface
    
    "garden" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "garden" ]]
      ],
      "subRegion" : [ ]
    },
    
    "forest" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "forest" ]]
      ],
      "subRegion" : ["spring", "mushroom", "giantflowers", "swamp", "alpine"]
    },
    
    "desert" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "desert" ]]
      ],
      "subRegion" : ["oasis", "tar", "colourful", "bones"]
    },
    
    "savannah" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "savannah" ]]
      ],
      "subRegion" : ["colourful", "bones", "tar"]
    },
    
    "snow" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "snow" ]]
      ],
      "subRegion" : ["bioluminescence", "alpine", "prism", "steamspring"]
    },
    
    "ocean" : {
      "oceanLiquid" : [ "water" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "ocean" ]]
      ]
    },
    
    "oceanfloor" : {
      "oceanLiquid" : [ "water" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "oceanfloor" ]]
      ]
    },
    
    "jungle" : {
      "caveLiquid" : [ "water", "poison" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "jungle" ]]
      ],
      "subRegion" : ["swamp", "giantflowers", "mushroom", "eyepatch"]
    },
    
    "alien" : {
      "caveLiquid" : [ "water", "poison" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "alien" ]]
      ],
      "subRegion" : ["eyepatch", "flesh"]
    },
    
    "toxic" : {
      "oceanLiquid" : [ "poison" ],
      "blockSelector" : [ "remixedFlatIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "poison" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "toxic" ]]
      ]
    },
    
    "toxicoceanfloor" : {
      "oceanLiquid" : [ "poison" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "toxicoceanfloor" ]]
      ]
    },
    
    "tundra" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tundra" ]]
      ],
      "subRegion" : ["steamspring", "prism", "alpine", "bioluminescence"]
    },
    
    "arctic" : {
      "oceanLiquid" : [ "water" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "arctic" ]]
      ]
    },
    
    "arcticoceanfloor" : {
      "oceanLiquid" : [ "water" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "arcticoceanfloor" ]]
      ]
    },
    
    "midnight" : {
      "caveLiquid" : [ "water" ],
      "caveLiquidSeedDensityRange" : [1, 3],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "midnight" ]]
      ],
      "subRegion" : ["hive", "bioluminescence"]
    },
    
    "volcanic" : {
      "caveLiquid" : [ "lava" ],
      "caveLiquidSeedDensityRange" : [1, 3],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "volcanic" ]]
      ],
      "subRegion" : ["geode", "rust", "bones"]
    },
    
    "scorchedcity" : {
      "caveLiquid" : [ "tarliquid" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "scorchedcity" ]]
      ],
      "subRegion" : []
    },
    
    "magma" : {
      "oceanLiquid" : [ "lava" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "magma" ]]
      ]
    },
    
    "magmaoceanfloor" : {
      "oceanLiquid" : [ "lava" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "magmaoceanfloor" ]]
      ]
    },
    
    "moon" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "moonSurfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "moon" ]]
      ]
    },
    
    "barren" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "barren" ]]
      ]
    },
    
    "tentacle" : {
      "caveLiquid" : [ "poison" ],
      "caveLiquidSeedDensityRange" : [10, 10],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tentacle" ]]
      ]
    },
    
    "cyberspace" : {
      "blockSelector" : [ "remixedFlatsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "cyberspace" ]]
      ]
    },
    
    // surface subregions
    
    "spring" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "spring" ]]
      ]
    },
    
    "mushroom" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "mushroompatch" ]]
      ]
    },
    
    "oasis" : {
      "blockSelector" : [ "remixedPoolsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "healingliquid" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "oasis" ]]
      ]
    },
    
    "tar" : {
      "blockSelector" : [ "remixedPoolsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "tarliquid" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tar" ]]
      ]
    },
    
    "swamp" : {
      "caveLiquid" : [ "swampwater" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "fillMicrodungeons" : true,
      "blockSelector" : [ "remixedSwampySurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "swamp" ]]
      ]
    },
    
    "alpine" : {
      "blockSelector" : [ "remixedMountainsSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "alpine" ]]
      ]
    },
    
    "bioluminescence" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "bioluminescence" ]]
      ]
    },
    
    "colourful" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "colourful" ]]
      ]
    },
    
    "prism" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "prism" ]]
      ]
    },
    
    "steamspring" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "steamspring" ]]
      ]
    },
    
    "hive" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "hive" ]]
      ]
    },
    
    "bones" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "bones" ]]
      ]
    },
    
    "giantflowers" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "giantflowers" ]]
      ]
    },
    
    "eyepatch" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "eyepatch" ]]
      ]
    },
    
    "flesh" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "flesh" ]]
      ]
    },
    
    "ice" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "ice" ]]
      ]
    },
    
    "rust" : {
      "caveLiquidSeedDensityRange" : [1, 2],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedStepsSurfaceLarge" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "rust" ]]
      ]
    },
    
    "geode" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "geode" ]]
      ]
    },
    
    // underground
    
    "subsurface" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0a", "underground0b" ] ],
        [2, [ "underground0a", "underground0b", "underground1a", "underground1b" ] ]
      ]
    },
    
    "shallowunderground" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0a", "underground0b" ] ],
        [2, [ "underground0a", "underground0b", "underground1a", "underground1b" ] ]
      ],
      "subRegion" : ["tarunderground", "mushroomunderground", "wildernessunderground", "minivillageunderground"]
    },
    
    "midunderground" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0c" ] ],
        [2, [ "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d", "underground0c" ]]
      ],
      "subRegion" : ["luminouscaves", "stonecaves", "bonecaves", "icecaves"]
    },
    
    "deepunderground" : {
      "caveLiquid" : [ "water" ],
      "caveLiquidSeedDensityRange" : [0.5, 1.0],
      "biome" : [
        [1, [ "underground0d" ] ],
        [2, [ "underground5a", "underground5b", "underground5c", "underground5d", "underground0d" ]]
      ],
      "subRegion" : ["cellcaves", "fleshcaves", "slimecaves"]
    },
    
    "desertsubsurface" : {
      "caveLiquid" : [ "tarliquid" ],
      "caveLiquidSeedDensityRange" : [2.0, 2.0],
      "biome" : [
        [2, [ "underground1d" ]]
      ]
    },
    
    "moonunderground" : {
      "fgCaveSelector" : [ "moonCaves" ],
      "fgOreSelector" : ["richVeins"],
      "bgOreSelector" : ["richVeins"],
      "caveLiquid" : [ "fuel" ],
      "caveLiquidSeedDensityRange" : [3.5, 3.5],
      "biome" : [
        [0, [ "moonunderground"]]
      ]
    },
    
    "barrenunderground" : {
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ ],
      "biome" : [
        [0, [ "barrenunderground"]]
      ]
    },
    
    "tentacleundergroundtentacles" : {
      "caveLiquid" : [ "poison" ],
      "biome" : [
        [1, [ "undergroundtentacles" ] ]
      ]
    },
    
    "tentacleundergroundceiling" : {
      "oceanLevelOffset" : -10,
      "fgCaveSelector" : [ "coreCaves" ],
      "bgCaveSelector" : [ "coreBackgroundCaves" ],
      "biome" : [
        [1, [ "undergroundtentacles" ] ]
      ]
    },
    
    "tentacleundergroundfloor" : {
      "blockSelector" : [ "remixedFlatsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "undergroundbrains" ] ]
      ]
    },
    
    // underground subregions
    
    "mushroomunderground" : {
      "biome" : [
        [0, [ "mushrooms"]]
      ]
    },
    
    "wildernessunderground" : {
      "biome" : [
        [0, [ "wilderness"]]
      ]
    },
    
    "tarunderground" : {
      "caveLiquid" : [ "tarliquid" ],
      "biome" : [
        [0, [ "tarpit"]]
      ]
    },
    
    "minivillageunderground" : {
      "biome" : [
        [0, [ "minivillage"]]
      ]
    },
    
    "icecaves" : {
      "biome" : [
        [0, [ "icecaves"]]
      ]
    },
    
    "bonecaves" : {
      "biome" : [
        [0, [ "bonecaves"]]
      ]
    },
    
    "stonecaves" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [0, [ "stonecaves"]]
      ]
    },
    
    "luminouscaves" : {
      "caveLiquid" : [ "poison" ],
      "biome" : [
        [0, [ "luminouscaves"]]
      ]
    },
    
    "fleshcaves" : {
      "biome" : [
        [0, [ "fleshcaves" ]]
      ]
    },
    
    "cellcaves" : {
      "caveLiquid" : [ "poison" ],
      "caveLiquidSeedDensityRange" : [3.0, 3.0],
      "biome" : [
        [0, [ "cellcaves" ]]
      ]
    },
    
    "slimecaves" : {
      "caveLiquid" : [ "slimeliquid" ],
      "caveLiquidSeedDensityRange" : [3.0, 3.0],
      "biome" : [
        [0, [ "slimecaves" ]]
      ]
    },
    
    // core
    
    "core" : {
      "caveLiquid" : [ "lava" ],
      "caveLiquidSeedDensityRange" : [4.0, 4.0],
      "oceanLiquid" : [ "corelava" ],
      "oceanLevelOffset" : -20,
      "fgCaveSelector" : [ "coreCaves" ],
      "bgCaveSelector" : [ "coreBackgroundCaves" ],
      "biome" : [
        [1, [ "gardencorelayer"] ],
        [2, [ "blaststonecorelayer", "magmarockcorelayer", "obsidiancorelayer" ]]
      ]
    },
    
    "mooncore" : {
      "fgCaveSelector" : [ "empty" ],
      "subBlockSelector" : [ "lowHillsSurface" ],
      "biome" : [
        [0, [ "mooncorelayer" ]]
      ]
    },
    
    "tentacleundergroundcore" : {
      "caveLiquid" : [ "empty" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "undergroundbrainssolid" ] ]
      ]
    }
  }
}